html {
    background-color: antiquewhite;
}

body {
    background-color: whitesmoke;
    margin: 5em;
    border-top: 0.5em solid lightgray;
    margin-top: 0em;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-size: 3em;
    margin-top: 0em;
    margin-bottom: 0em;
    color: darkslategray;
}

h2 {
    font-size: 1.5em;
    border-bottom: thin solid gray;
    margin-bottom: 0em;
    padding-bottom: 0.25em;
    margin-top: 0em;
}

.menu {
    color: gray;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0;
}

.menu li{
    float: left;
}

.menu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgray;
}

.menu li a:hover{
    background-color: darkgreen;
}

a:visited {
    color: darkgreen;
}

a[href$=".html"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

#electricV {
    flex: 50%;
}

#webdev {
    flex: 50%;
    padding-right: 1em;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#subscribe input[type="submit"] {
    background-color: green;
    border: none;
    padding: 0.25em;
    color: white;
}

img[src="TESLA-LOGO.jpg"] {
    border:thin solid red;
    padding: 0.25em;
    float: left;
    margin-right: 0.75em;
}

figure {
    float: left;
    margin: 0;
}   

main {
    padding: 1em;
    padding-top: 0em;
    display: flex;
}

header {
    padding-left: 1em;
    padding-right: 1em;
}

.contact {
    padding-top: 1em;
}

form.contact div {
    margin-top: 0.5em;
}

.email-signup {
    padding: 1em;
}

figcaption {
    margin-top: 1em;
    color: darkgrey;
    font-size: 1em;
    text-align: center;
}

@media (max-width: 400px) {
    main {
        display: inline;
        margin: 0 auto;
    }

    #electricV {
        flex: auto;
    }
    
    #webdev {
        flex: auto;
        padding-right: 0;
    }

    img {
        width: 100%;

    }
}

@media (max-width: 900px) {
    main {
        display: inline;
        margin: 0 auto;
    }

    #electricV {
        flex: auto;
    }
    
    #webdev {
        flex: auto;
        padding-right: 0;
    }

    img {
        width: 100%;

    }
}
